# Created by .ignore support plugin (hsz.mobi)
Supprimerait .idea/
!/MonoDiscord.iml
.idea/.gitignore
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
MonoDiscord.iml
src/main/resources/
src/test/
!/.idea/
